<div ng-cloak>
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="100" layout="column">
            <form name="dForm" role="form" ng-controller="BancoSaveCtrl">
                <md-card>
                    <md-card-header>
                        <md-card-avatar>
                            <img class="md-user-avatar" src="media/img/list/60.jpeg" />
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-headline">{{banco.name}}</span>
                            <span class="md-subhead">{{banco.detail_name}} {{banco.version}}</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Entidad bancaria</label>
                                <input name="entidad_bancaria" ng-model="banco.entidad_bancaria" required>
                                <div ng-messages="dForm.nombre.$error">
                                    <div ng-message="required">Campo requerido.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Tipo de cuenta</label>
                                <input name="tipo_cuenta" ng-model="banco.tipo_cuenta" required>
                                <div ng-messages="dForm.nombre.$error">
                                    <div ng-message="required">Campo requerido.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Numero de cuenta</label>
                                <input name="numero_cuenta" ng-model="banco.numero_cuenta" required>
                                <div ng-messages="dForm.nombre.$error">
                                    <div ng-message="required">Campo requerido.</div>
                                </div>
                            </md-input-container>
                        </div>
                    </md-card-content>
                    <md-divider></md-divider>
                    <md-card-actions layout="row" layout-xs="column" layout-align="start center">
                        <md-card-icon-actions>
                            <md-button class="md-icon-button" aria-label="toggle">
                                <md-icon md-svg-icon="md-toggle-arrow"></md-icon>
                            </md-button>
                        </md-card-icon-actions>
                        <md-button type="reset" ng-click="cancel()" class="md-raised">Cancelar</md-button>
                        <md-button type="submit" ng-click="save()" class="md-raised md-primary">
                            <span ng-show="banco.id == null">Create</span>
                            <span ng-show="banco.id">Actualizar</span>
                        </md-button>
                    </md-card-actions>
                </md-card>
            </form>
        </div>
    </md-content>
</div>