<div ng-cloak>
    <md-content class="md-padding" layout-xs="column">
        <div flex-xs flex-gt-xs>
            <md-card ng-controller="PermissionCtrl">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Permisos</span>
                        <!--<span class="md-subhead">CRUD Permission</span>-->
                    </md-card-title-text>
                </md-card-title>
                <md-divider></md-divider>
                <md-table-container>
                    <md-progress-linear layout-fill md-mode="indeterminate" ng-hide="!isLoading"></md-progress-linear>
                    <table table-responsive>
                        <md-card-actions layout="row" layout-align="start center" layout-xs="column">
                            <md-card-icon-actions>
                                <md-button class="md-icon-button" aria-label="Add" ng-click="new($event)">
                                    <md-tooltip md-autohide>Agregar</md-tooltip>
                                    <ng-md-icon icon="add" aria-label="Add"></ng-md-icon>
                                </md-button>
                            </md-card-icon-actions>
                            <span flex></span>
                            <md-card-icon-actions layout-align="end center">
                                <input placeholder="buscar" ng-model="query" ng-keyup="buscar()">
                                <md-button class="md-icon-button" aria-label="Share">
                                    <ng-md-icon icon="more_vert" aria-label="title"></ng-md-icon>
                                </md-button>
                            </md-card-icon-actions>
                        </md-card-actions>
                        <md-divider></md-divider>
                        <thead md-on-reorder="onReorder">
                            <tr>
                                <th>#</th>
                                <th class="col-hidden" data-search="codename" data-order="codename">code name</th>
                                <th class="col-hidden" data-search="name" data-order="name">name perm</th>
                                <th>app_label</th>
                                <th colspan='2' class="align-options">acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="d in lista">
                                <td>{{ (options.page - 1) * options.page_size +$index +1 }}</td>
                                <td> {{ d.codename }}</td>
                                <td> {{ d.name }}</td>
                                <td> {{ d.content_type }}</td>
                                <td>
                                    <md-button class="md-icon-button" aria-label="Edit" ng-click="sel(d)">
                                        <md-tooltip md-autohide>Editar {{ d.codename }}</md-tooltip>
                                        <ng-md-icon icon="edit" aria-label="Edit"></ng-md-icon>
                                    </md-button>
                                </td>
                                <td>
                                    <md-button class="md-icon-button" aria-label="delete" ng-click="delete(d)">
                                        <md-tooltip md-autohide>Eliminar {{ d.codename }}</md-tooltip>
                                        <ng-md-icon icon="delete" aria-label="delete"></ng-md-icon>
                                    </md-button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <md-table-pagination>
                    <table>
                        <tfoot>
                            <tr>
                                <td>
                                    <app-pagination ng-if="options.pages>0" per="options.page_size" page="options.page" format="{{'jumping'}}" display="4" rango="options.range" accion="list(params)" pages="options.pages" query="query" fields="{{fields}}"></app-pagination>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </md-table-pagination>
            </md-card>
        </div>
    </md-content>
</div>
